In [26]:
weekly_budget = 200
recent_budget = 45.50
purchase_category = ("groceries")
print("my weekly_budget is Rs.200,and i spent Rs.45.50 on groceries")

my weekly_budget is Rs.200,and i spent Rs.45.50 on groceries

In [36]:
# mantatory expense
expense = 10 
for i in range(1,6):
   print("day",i,"the expense is",expense)
   expense+=2

day 1 the expense is 10
day 2 the expense is 12
day 3 the expense is 14
day 4 the expense is 16
day 5 the expense is 18

In [37]:
weekly_budget = 200
purchase_amount = 30 
if(weekly_budget>=purchase_amount):
    print("affordable")
else:
    print("over budget")

affordable

In [40]:
def add_tax(expence,tax_rate):
    total=sum(expenses)
    total_with_tax=total+(total*tax_rate/100)
    print("the total expense with tax is",total_with_tax)
expenses=[20,15,10]
tax_rate=8
add_tax(expenses,tax_rate)

the total expense with tax is 48.6

In [49]:
def check_budget(purchase,limit):
    purchase_sum=sum(purchase)
    expense_amt=purchase_sum-limit
    if purchase_sum<=limit:
        print("within budget")
    else:
        print("warning:within rs.",purchase_sum,"of limit")
        print("over budget by rs.",expense_amt)
purchase=[50,30,10]
limit=200
check_budget(purchase,limit)

within budget